*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(78, 98, 214);
}

#container{
    width: 300px;
    margin: 50px auto;
}

.card{
    width: 300px;
    height: 500px;
    margin: 20px 10px;
    border: 1px solid gray;
    background-color: whitesmoke;
    position: relative;
}

.words{
    
    position: absolute;
    left: 10px;
    top: 300px;
    padding: 10px;
    text-align: center;
}

/* @media screen and (min-width:760px)and (max-width:1718px){ */
@media screen and (min-width:760px){
    #container{
        width: 570px;
    }
    /* 요소가 나란히 배치될수 있도록 너비를 조정 */
    .card{
        width: 550px;
        height: 250px;
    }


    .words{
        width: 250px;
        left: 300px;
        top: 60px;
    }
}

@media screen and (min-width:1200px){
    #container{
        width: 1200px;
        height: 1000px;
    }
    /* 요소가 나란히 배치될수 있도록 너비를 조정 */
    .card{
        width: 550px;
        height: 250px;
        float: left;
    }


    .words{
        width: 250px;
        left: 300px;
        top: 60px;

    }
}

